a{text-decoration: none;color: black;}

body{margin: auto;}
.zone{
    
    padding:30px 50px;
    font-size:2em;
    color:#FFF;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
/*header*/
.green{
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    padding: 0px;
}
.green ul{
    list-style: none;
    display:flex; font-size: 0.7em;
}
.green li{
     
    margin-right: 50px;
}
.green  li:last-child{margin-left: auto;}
.green a{color: white;}


    /***********************************
/*cover*/
.white{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
}
.white img{
    width: 80vh;height: 42vh
}

    /***********************************
/*  Grid Panel*/
.blue{
     
   background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    
}
img{width: 25vh;height: 25vh;}
.blue .box{
    background-color:#444;
    text-align: center;}
.box:hover{
    transform:rotate(-7deg);
}

@media only screen and (min-width: 1100px){
    
    .blue{ grid-template-columns:repeat(4,1fr);}
}

/*********************
/*footer*/

.yellow {
    
    background: #444; /* Chrome,Safari4+ */
    text-align: center;
}










